# Auto detect text files and perform LF normalization
* text eol=lf


# Standard to msysgit
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.py eol=lf
*.txt eol=lf
*.cfg eol=lf

